.elementor-9 .elementor-element.elementor-element-111fadf {
    --display: flex;
    --min-height: 0px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-9 .elementor-element.elementor-element-16c8e0a {
    --display: grid;
    --e-con-grid-template-columns: repeat(2, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --grid-auto-flow: row;
}

.elementor-9 .elementor-element.elementor-element-06ffe48>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-9 .elementor-element.elementor-element-06ffe48.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9 .elementor-element.elementor-element-98389c2 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-9 .elementor-element.elementor-element-98389c2 .elementor-widget-container {
    text-align: right;
}

.elementor-9 .elementor-element.elementor-element-98389c2>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-98389c2 .elementor-social-icon {
    background-color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-98389c2 .elementor-social-icon i {
    color: #060000;
}

.elementor-9 .elementor-element.elementor-element-98389c2 .elementor-social-icon svg {
    fill: #060000;
}

.elementor-9 .elementor-element.elementor-element-9c8e6d3 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-9 .elementor-element.elementor-element-9c8e6d3.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9 .elementor-element.elementor-element-667a971 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-9 .elementor-element.elementor-element-667a971.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9 .elementor-element.elementor-element-36ec91f>.elementor-widget-container {
    margin: 0px 0px 0px 20px;
}

.elementor-9 .elementor-element.elementor-element-36ec91f.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9 .elementor-element.elementor-element-f6ada21 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-9 .elementor-element.elementor-element-f6ada21.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-9 .elementor-element.elementor-element-15c6c25 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-9 .elementor-element.elementor-element-15c6c25 .elementor-widget-container {
    text-align: right;
}

.elementor-9 .elementor-element.elementor-element-15c6c25>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-15c6c25 .elementor-social-icon {
    background-color: #FFFFFF;
}

.elementor-9 .elementor-element.elementor-element-15c6c25 .elementor-social-icon i {
    color: #060000;
}

.elementor-9 .elementor-element.elementor-element-15c6c25 .elementor-social-icon svg {
    fill: #060000;
}

.elementor-9 .elementor-element.elementor-element-b8fa534 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --row-gap: 0px;
    --column-gap: 0px;
}

.elementor-9 .elementor-element.elementor-element-a16c936 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 20px;
    --margin-right: 0px;
}

.elementor-9 .elementor-element.elementor-element-a16c936.e-con {
    --align-self: flex-start;
}

.elementor-widget-site-logo .hfe-site-logo-container .hfe-site-logo-img {
    border-color: var( --e-global-color-primary);
}

.elementor-widget-site-logo .widget-image-caption {
    color: var( --e-global-color-text);
    font-family: var( --e-global-typography-text-font-family), Sans-serif;
    font-weight: var( --e-global-typography-text-font-weight);
}

.elementor-9 .elementor-element.elementor-element-a3ec6da .hfe-site-logo-container,
.elementor-9 .elementor-element.elementor-element-a3ec6da .hfe-caption-width figcaption {
    text-align: left;
}

.elementor-9 .elementor-element.elementor-element-a3ec6da .hfe-site-logo .hfe-site-logo-container img {
    width: 50px;
}

.elementor-9 .elementor-element.elementor-element-a3ec6da .hfe-site-logo img {
    max-width: 25%;
}

.elementor-9 .elementor-element.elementor-element-a3ec6da .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-9 .elementor-element.elementor-element-a3ec6da .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

.elementor-9 .elementor-element.elementor-element-f7a095d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-9 .elementor-element.elementor-element-f7a095d.e-con {
    --align-self: center;
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.elementor-button:hover {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu a.hfe-menu-item,
.elementor-widget-navigation-menu a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-primary-font-family), Sans-serif;
    font-weight: var( --e-global-typography-primary-font-weight);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item {
    color: var( --e-global-color-text);
}

.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:hover,
.elementor-widget-navigation-menu .sub-menu a.hfe-sub-menu-item:hover,
.elementor-widget-navigation-menu .menu-item.current-menu-item a.hfe-menu-item,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item.highlighted,
.elementor-widget-navigation-menu .menu-item a.hfe-menu-item:focus {
    color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
    background-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-widget-navigation-menu .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
    border-color: var( --e-global-color-accent);
}

.elementor-widget-navigation-menu .sub-menu li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-widget-navigation-menu nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-menu-item {
    padding-left: 15px;
    padding-right: 15px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-sub-menu-item {
    padding-left: calc( 15px + 20px);
    padding-right: 15px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-nav-menu__layout-vertical .menu-item ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 40px);
    padding-right: 15px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-nav-menu__layout-vertical .menu-item ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 60px);
    padding-right: 15px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-nav-menu__layout-vertical .menu-item ul ul ul ul a.hfe-sub-menu-item {
    padding-left: calc( 15px + 80px);
    padding-right: 15px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 ul.sub-menu {
    width: 220px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .sub-menu a.hfe-sub-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-nav-menu__toggle {
    margin-left: auto;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 a.hfe-sub-menu-item {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 .sub-menu a.hfe-sub-menu-item {
    color: #070707;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-menu-item:hover,
.elementor-9 .elementor-element.elementor-element-239c7d0 .sub-menu a.hfe-sub-menu-item:hover,
.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-menu-item.highlighted,
.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item a.hfe-menu-item:focus {
    color: var( --e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:before,
.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent a.hfe-menu-item:after {
    background-color: var( --e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-nav-menu-layout:not(.hfe-pointer__framed) .menu-item.parent .sub-menu .hfe-has-submenu-container a:after {
    background-color: var( --e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:before,
.elementor-9 .elementor-element.elementor-element-239c7d0 .hfe-pointer__framed .menu-item.parent a.hfe-menu-item:after {
    border-color: var( --e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item.current-menu-item a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 .menu-item.current-menu-ancestor a.hfe-menu-item {
    color: var( --e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .sub-menu,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown-expandible,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 .sub-menu li.menu-item:not(:last-child),
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-9 .elementor-element.elementor-element-239c7d0 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-9 .elementor-element.elementor-element-239c7d0 div.hfe-nav-menu-icon {
    color: var( --e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-239c7d0 div.hfe-nav-menu-icon svg {
    fill: var( --e-global-color-primary);
}

.elementor-9 .elementor-element.elementor-element-93ed978 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
}

.elementor-9 .elementor-element.elementor-element-93ed978.e-con {
    --align-self: center;
}

.elementor-widget-button .elementor-button {
    background-color: var( --e-global-color-accent);
    font-family: var( --e-global-typography-accent-font-family), Sans-serif;
    font-weight: var( --e-global-typography-accent-font-weight);
}

.elementor-9 .elementor-element.elementor-element-1d98e3f>.elementor-widget-container {
    margin: 0px 20px 0px 0px;
}

.elementor-9 .elementor-element.elementor-element-1d98e3f .elementor-button-content-wrapper {
    flex-direction: row;
}

.elementor-9 .elementor-element.elementor-element-1d98e3f .elementor-button {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

@media(max-width:1024px) {
    .elementor-9 .elementor-element.elementor-element-16c8e0a {
        --min-height: 0px;
        --grid-auto-flow: row;
    }
    .elementor-9 .elementor-element.elementor-element-06ffe48 {
        width: var( --container-widget-width, 444px);
        max-width: 444px;
        --container-widget-width: 444px;
        --container-widget-flex-grow: 0;
    }
    .elementor-9 .elementor-element.elementor-element-06ffe48>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-9 .elementor-element.elementor-element-36ec91f {
        width: var( --container-widget-width, 409.4px);
        max-width: 409.4px;
        --container-widget-width: 409.4px;
        --container-widget-flex-grow: 0;
    }
    .elementor-9 .elementor-element.elementor-element-36ec91f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-9 .elementor-element.elementor-element-a3ec6da .hfe-site-logo img {
        max-width: 30%;
    }
}

@media(max-width:767px) {
    .elementor-9 .elementor-element.elementor-element-16c8e0a {
        --e-con-grid-template-columns: repeat(1, 1fr);
        --e-con-grid-template-rows: repeat(1, 1fr);
        --grid-auto-flow: row;
    }
    .elementor-9 .elementor-element.elementor-element-06ffe48 {
        --container-widget-width: 233px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 233px);
        max-width: 233px;
    }
    .elementor-9 .elementor-element.elementor-element-98389c2 {
        --grid-template-columns: repeat(0, auto);
    }
    .elementor-9 .elementor-element.elementor-element-9c8e6d3 {
        --width: 100%;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-9 .elementor-element.elementor-element-667a971 {
        --width: 69%;
        --gap: 0px 0px;
        --row-gap: 0px;
        --column-gap: 0px;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 2px;
        --margin-right: 0px;
        --padding-top: 8px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-9 .elementor-element.elementor-element-36ec91f {
        width: var( --container-widget-width, 333px);
        max-width: 333px;
        --container-widget-width: 333px;
        --container-widget-flex-grow: 0;
    }
    .elementor-9 .elementor-element.elementor-element-36ec91f>.elementor-widget-container {
        margin: 0px 0px 0px 05px;
    }
    .elementor-9 .elementor-element.elementor-element-f6ada21 {
        --width: 30%;
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
    }
    .elementor-9 .elementor-element.elementor-element-15c6c25 {
        --grid-template-columns: repeat(0, auto);
        --icon-size: 7px;
    }
    .elementor-9 .elementor-element.elementor-element-15c6c25>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
    .elementor-9 .elementor-element.elementor-element-b8fa534 {
        --margin-top: 0px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-9 .elementor-element.elementor-element-a16c936 {
        --width: 40%;
    }
    .elementor-9 .elementor-element.elementor-element-a3ec6da .hfe-site-logo img {
        max-width: 20%;
    }
    .elementor-9 .elementor-element.elementor-element-f7a095d {
        --width: 50%;
    }
    .elementor-9 .elementor-element.elementor-element-1d98e3f>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-9 .elementor-element.elementor-element-667a971 {
        --width: 50%;
    }
    .elementor-9 .elementor-element.elementor-element-f6ada21 {
        --width: 50%;
    }
    .elementor-9 .elementor-element.elementor-element-a16c936 {
        --width: 18%;
    }
    .elementor-9 .elementor-element.elementor-element-f7a095d {
        --width: 60%;
    }
    .elementor-9 .elementor-element.elementor-element-93ed978 {
        --width: 20%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-9 .elementor-element.elementor-element-f7a095d {
        --width: 55%;
    }
    .elementor-9 .elementor-element.elementor-element-93ed978 {
        --width: 30%;
    }
}

#gr {
    background: linear-gradient(to left, #24243e, #302b63, #0f0c29) !important
}

#gr {
    background: linear-gradient(270deg, #00A2C8 0%, #3E6BAC 30%, #684997 65%, #37356F 100%)
}

#gr {
    background: linear-gradient(270deg, #00A2C8 0%, #3E6BAC 30%, #684997 65%, #37356F 100%)
}